.submenu {
    width: 104%;
    margin-left: -25px;
    background-color:white;
}

.submenu a {
    font-size: 13px;
    font-weight: 500;
    margin-left: 10px;
    color: gray;
}

.submenu a:hover {
    font-size: 12px;
    color: gray;
}

@media(max-width: 1024px) {
    .submenu {
        display: none;
    }
}