
.upload-foto {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #d7dbdc;
    display: flex;
    align-items: center;
}

.container-upload {
    display: flex;
    align-items: center;
}

.upload-foto input {
    margin-left: -13px;
    opacity: 0.0;
    cursor: pointer;
}

.upload-foto i {
    font-size: 50px;
    margin-left: 9px;
}

.container-upload p {
    font-size: 12px;
    margin-top: 13px;
    margin-left: 5px;
}

.container-lock {
    display: flex;
    align-items: center;
}

.icon-lock {
    width: 30px;
    height: 30px;
    background-color: #d7dbdc;
    color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.icon-lock-cpf {
    width: 30px;
    height: 30px;
    background-color: #d7dbdc;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;

}

.container-radio {
    display: flex;
    justify-content: space-between;
}